.galleryHomeContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 15vh -10vh);
    background-color: var(--linen);
    background-blend-mode: soft-light;
}

.home-slider {
    width: 100% !important;
    min-width: 1px;
    height: 54vh;
}

.home-slide {
    position: relative;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 54vh;
    width: auto;
    z-index: 1003;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 25px;
    background-blend-mode: soft-light;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--pear);
}

.swiper-pagination-bullet-active {
    background-color: var(--pear); /* your brand color */
}

/* STRAPLINE - big, top right */
.home-strapline {
    position: absolute;
    top: 3vh;
    left: 3rem;
    font-family: "FuturaBook";
    color: var(--pear);
    background-color: var(--eggplant);
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); /* improve readability */
    z-index: 1003;
    border: solid 2px;
    border-color: var(--desert-sand);
    padding: 4px;
    border-radius: 10px;
    text-overflow: clip;
}

/* NAME - smaller, bottom left */
.home-name {
    position: absolute;
    bottom: 3vh;
    left: 4rem;
    text-align: left;
    font-size: clamp(1.1rem, 2vw, 2rem);
    color: var(--linen);
    font-weight: 500;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    z-index: 2003;
    text-overflow: clip;
}
